Checks: >
  modernize-use-override,
  modernize-macro-to-enum,
  modernize-use-default-member-init,
  modernize-use-nullptr,
  modernize-use-auto,
  readability-function-size,
  readability-const-return-type,
  readability-identifier-naming,
  readability-magic-numbers,
  readability-redundant-declaration,
  readability-avoid-const-params-in-decls,
  bugprone-integer-division,
  bugprone-suspicious-missing-comma,
  performance-for-range-copy,
  cppcoreguidelines-macro-usage,
WarningsAsErrors: modernize-use-override
HeaderFilterRegex: '^(?!.*sockcanpp).*'
FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.ClassCase, value: CamelCase  }
  - { key: readability-identifier-naming.StructCase, value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: camelBack  }
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.ConstexprVariableCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.PrivateMemberSufix,  value: _          }
